{% extends 'base.html' %}


{% block head %}

{% endblock %}



{% block body %}
<div class="container h-100 align-middle">
    <div class="row h-100 text-center ">
        <div class="col-md-12 align-self-end"><h1 class="main-title">LACES</h1></div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link nav-text-color" href="/buy">Buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text-color" href="/sell">Sell</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text-color" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text-color" href="/upcoming">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text-color" href="/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text-color" href="/about">About</a>
            </li>
        </ul>
    </div>
    
</div>

{% endblock %}