{% extends 'base.html' %}


{% block head %}

{% endblock %}



{% block body %}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link nav-text-color" href="/buy">Buy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text-color" href="/sell">Sell</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text-color" href="/portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text-color active" href="/upcoming">Upcoming</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-text-color" href="/account">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-text-color" href="/about">About</a>
    </li>
</ul>

<div class="main-content">
  <!-- Header -->
  <div class="container mt-4">
    <h2 style="padding-bottom: 6px;">Upcoming Releases</h2>
    <div class="row">
      <div class="col-auto mb-3">
        <div onclick="location.href='/shoe4'" class="card text-center" style="width: 17rem; height: 17rem;">
          <div class="card-header">
            Jordan 11 Cool Grey
          </div>
          <div class="card-body">
            <img src="../static/css/images/jordan11coolgrey.png" width= "110px" alt="">
          </div>
          <div class="card-footer">
            May 1st
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div onclick="location.href='/shoe4'" class="card text-center" style="width: 17rem; height: 17rem;">
          <div class="card-header">
            Jordan 11 Cool Grey
          </div>
          <div class="card-body">
            <img src="../static/css/images/jordan11coolgrey.png" width= "110px" alt="">
          </div>
          <div class="card-footer">
            May 1st
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div onclick="location.href='/shoe4'" class="card text-center" style="width: 17rem; height: 17rem;">
          <div class="card-header">
            Jordan 11 Cool Grey
          </div>
          <div class="card-body">
            <img src="../static/css/images/jordan11coolgrey.png" width= "110px" alt="">
          </div>
          <div class="card-footer">
            May 1st
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div onclick="location.href='/shoe4'" class="card text-center" style="width: 17rem; height: 17rem;">
          <div class="card-header">
            Jordan 11 Cool Grey
          </div>
          <div class="card-body">
            <img src="../static/css/images/jordan11coolgrey.png" width= "110px" alt="">
          </div>
          <div class="card-footer">
            May 1st
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div onclick="location.href='/shoe4'" class="card text-center" style="width: 17rem; height: 17rem;">
          <div class="card-header">
            Jordan 11 Cool Grey
          </div>
          <div class="card-body">
            <img src="../static/css/images/jordan11coolgrey.png" width= "110px" alt="">
          </div>
          <div class="card-footer">
            May 1st
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div onclick="location.href='/shoe4'" class="card text-center" style="width: 17rem; height: 17rem;">
          <div class="card-header">
            Jordan 11 Cool Grey
          </div>
          <div class="card-body">
            <img src="../static/css/images/jordan11coolgrey.png" width= "110px" alt="">
          </div>
          <div class="card-footer">
            May 1st
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div onclick="location.href='/shoe4'" class="card text-center" style="width: 17rem; height: 17rem;">
          <div class="card-header">
            Jordan 11 Cool Grey
          </div>
          <div class="card-body">
            <img src="../static/css/images/jordan11coolgrey.png" width= "110px" alt="">
          </div>
          <div class="card-footer">
            May 1st
          </div>
        </div>
      </div>
      
    </div>
</div>

</div>
{% endblock %}